body {
    background: #aaa;
}
main {
    width: 1000px;
    margin: 0 auto;
}
header {
    height: 150px;
    background: greenyellow;
}
nav {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: baseline;
}
nav a {
    margin: 0 5px;
}
section {
    display: flex;
    min-height: 500px;
}
aside {
    width: 150px;
    /* height: 500px; */
    background: hotpink;
    align-items: flex-start;
}
#right-panel {
    width: 150px;
    background: yellow;
    align-items: flex-start
}
article {
    width: 700px;
    background: lightseagreen;
    align-items: flex-start;
    overflow: hidden;
}
footer {
    height: 150px;
    background: lightblue;
}
@media (max-width: 1920px){

}
@media (max-width: 1024px) {
    main{
        width: 850px;
    }
    #right-panel{
        /* opacity: 0; */
        visibility: hidden;
    }
    article{
        width: 850px;
    }
}