body{
    display: flex;
    justify-content: center;
    color: #30373b;
    font-family: Roboto, sans-serif;
}
#background{
    background: url(assets/masthead@2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 800px;
}
a{
    color: #30373b;
    text-decoration: none;
}
main{
    width: 1140px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 45px;
    border-bottom: #cad2d7 1px solid;
}
nav{
    margin-top: 10px;
}
nav a{
    font-weight: bold;
    padding: 6px 24px;
    margin: 6px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
nav a.active{
    background: #ffc000;
    color: white;
}
nav a:hover{
    background: #646d72;
    color: white;
}
#logo{
    width: 131px;
}
#head{
    color: white;
    margin-top: 200px;
    width: 741px;
}   
h1{
    font-size: 96px;
    font-family: 'Roboto' sans-serif;
    font-weight: 900;
    margin: 25px 0 15px;
}
h2{
    font-size: 28px;
    font-family: Aleo, serif;
    font-style: italic;
    color: #e2e2e0;
    font-weight: 400;
}
.spaceballs{
font-size: 24px;
font-weight: 900;
}
#head a{
    color: #3c4a52;
    font-weight: bold;
}
#head a:hover{
    color: #ffc000;
}
footer{
    display: flex;
    justify-content: space-between;
}